{% load static %}
<!DOCTYPE html>
<html lang="en">
        <head>
            <title>Admin</title>
            
            <link href="{%static 'css/example.css'%}" rel="stylesheet"/>

            <script src="https://kit.fontawesome.com/e65469e27a.js" crossorigin="anonymous"></script>

        </head>
        <body>
            <div class="sidebar">
                <header>Dashboard</header>
                <ul>
                    <li><a href="VCMASTER.html"><i class="fa fa-table"></i>VC Master</a></li>
                    <li><a href="VMASTER.html"><i class="fa fa-table"></i>V_Master</a></li>
                    <li><a href="PARTMASTER.html"><i class="fa fa-table"></i>Part Master</a></li>
                    <li><a href="STRLOC.html"><i class="fa fa-location"></i>Str_Loc</a></li>
                    <li><a href="MAPMASTER.html"><i class="fa fa-chart-simple"></i>MAP</a></li>
                    <li><a href="DML.html"><i class="fa fa-users"></i>DML Details</a></li>
                    <li><a href="MRP.html"><i class="fa fa-users"></i>MRP</a></li>
                   
                   
                </ul>
            </div>
            <section></section>
        </body>
