<html>
    <head>
        <title>
            Excel file upload and processing : Django Example : ThePythonDjango.Com
        </title>
    </head>
    <body style="margin-top: 30px;margin-left: 30px;">
        <div>
        <table border="1px">
            <tr class="header">
                <th>Material</th>
                <th>Valuation_Type</th> 
                <th>Price</th>
                <th>Last_Change</th>
            </tr>
            {% for x in Mno %}
            <tr>
                <td style="background-color: papayawhip ;">
                    {{x.Material}}
                </td>
                <td style="background-color: papayawhip ;">
                    {{x.Valuation_Type}}
                </td>
                <td style="background-color: papayawhip ;">
                    {{x.Price}}
                </td>
                <td style="background-color: papayawhip ;">
                    {{x.Last_Change}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
       
        <form method="post" enctype="multipart/form-data">         
            {% csrf_token %}
           
            <input type="file" id="myfile" name="myfile" title=".xlsx"s  >
            <input id="btn" type="submit" value="submit">
            </form>

        <p></p>
        

        {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}
    </body>
</html>