<!DOCTYPE html>
<html>
    <head>
        <title>
            Excel file upload and processing : Django Example : ThePythonDjango.Com
        </title>
    </head>
    <body style="margin-top: 30px;margin-left: 30px;">
        <div>
        <table border="1px">
            <tr class="header">
                <th style="background-color: papayawhip ;">VC</th>
                <th style="background-color: papayawhip ;">Models</th> 
                <th style="background-color: papayawhip ;">Type_of_vehicle</th>
                <th style="background-color: papayawhip ;">sub_model_group</th>
                <th style="background-color: papayawhip ;">Dom_Exp</th>
            </tr>
            {% for x in Vcno %}
            <tr>
                <td style="background-color: papayawhip ;">
                    {{x.VC}}
                </td>
                <td style="background-color: papayawhip ;">
                    {{x.Models}}
                </td>
                <td style="background-color: papayawhip ;">
                    {{x.Type_of_vehicle}}
                </td>
                <td style="background-color: papayawhip ;">
                    {{x.sub_model_group}}
                </td>
                <td style="background-color: papayawhip ;">
                    {{x.Dom_Exp}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>

        <form method="post" enctype="multipart/form-data">         
            {% csrf_token %}
            <input type="file" id="myfile" name="myfile" title=".xlsx"s  >
            <input id="btn" type="submit" value="ok">
            </form>

        <p></p>
        

        {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}
    </body>
</html>